#navbar{
	position: fixed; 
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: none;
	padding-top: 0px;
	margin-top: 0px;
	margin-left: 0px;
	overflow: hidden;
	background-color: black;
}

#navbar ul li {
	float: left;
	margin-right: 10%;
	margin-top: 0%;
	margin-bottom: 0%

}
#navbar ul li img{
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:50px;
    height:50px;	
    top:0;

}

#navbar ul li a{
	display: block;
	color: white;
	font-weight: bold;
}
#boxnav{
	margin-top: 15%;
}
#boxcontact{
	display: block;
	padding: 15px;
	color: black;
	font-weight: bold;
	background-color: white;
}
body{
	height: 100%;
	padding: none;
	margin-top: 7%
}
main{
	height: 100%;
	padding: none;
	margin: none;
}
main > header{
	height: 100%;
	padding: none;
	margin: none;
}

footer{
	background: grey;
	position:absolute;
	bottom:0;
	width: 100%;
	margin-top: 5%;
}

 footer > audio{
	position: sticky;
	float: right;
	margin-top: none;
}

#Img{
	overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:150px;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
#Img:hover{
	transform: translateX(200px);
}
main > header > h1{
	text-align: center;
	transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
}
main >header > h1:hover{
	transform: translateX(-200px);
}
main >header >h2{
	text-align: center;
}